$appContainer: 'app-container';
$appMenu: 'app_menu';
$FuncMenu: 'functions-menu';
$InputImageDiv: 'input_image_div';

.ui.fluid.container {
  margin: 0 !important;
}

.#{$appMenu} {
  border-radius: 0 !important;
  height: 4vh;
  width: 100vw;
}


.#{$FuncMenu} {
  margin: 0;
  padding: 0;
  height: 94vh ;
  max-height: 94vh;
  width: 100vh;
  overflow-y: auto;
}

.#{$appContainer} {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
}

.#{$appContainer}-link {
  color: #61dafb;
}

.#{$InputImageDiv} {
  display: flex;
  position: absolute;
  left: 25px;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background: #7FFFD4;
}

#test {
   box-sizing: border-box;
   overflow: visible;
    width: 100%;
    height: 94vh;

}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    padding: 1vh 1vw;
    cursor: pointer;
}

